.banner{
    h1{
        text-align: center;
        font-size: 64px;
    }
    div{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 90%;
            height: 100%;
        }
        &::before{
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 362px;
            background-color: #8E9C78;
            position: absolute;
            z-index: -1;
            border-radius: 20px;
        }
    }
}