.footer{
    margin: 60px 0 0 0;
        padding: 40px 0;
        border-top: solid 1px #E9E9E9;
        display: flex;
        flex-direction: column;
        gap: 60px;

        ul{
            display: flex;
            gap: 20px;
        }
         ul li {
            list-style: none;
         }

         div{
            display: flex;
            justify-content: space-between;
         }
}